
.year {
    cursor: pointer;
  }
  
  .yearIsSelected {
    background: #0070f3;
    color: white;
    border-radius: 10px;
    padding: 5px;
  }
  
  .selectedYearWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    height: 1rem;
  }